body{
    background-color: bisque;
    margin: 0;
}
#f_bg {
    background-color: #503021;
    padding-bottom: 30px;
}

#first {
    color: aliceblue;
}

.first_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#img1 {
    width: 80%;
}

.wrap_text {
    padding-top: 200px;
    padding-left: 100px;
}

.wrap_text h1{
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
.wrap_sec {
    padding: 100px 100px 0;
}

.second_grid {
    display: grid;
    grid-auto-rows: minmax(200px, 400px);
    text-align: center;
    grid-gap: 5px;

}

@media (min-width:500px){
    .first_grid {
    grid-template-columns: 1fr; 
    }
    .second_grid {
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width:800px){
    .first_grid {
    grid-template-columns: 1fr 1fr; 
    }
    .second_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.col_sec img{
    width: 100%;
}

.text {
    font-size: 30px;
    font-style: italic;
    text-align: justify;
}

.col_sec h4{
    font-size: 20px;
}


.text2 {
    text-align: center;
}
